#footer {
  height: 250px;
  background: #363636;
  width: 100%;
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

}
#footer .inner {
  display: flex;
  width: 80%;
  padding: 0px 56px;
  padding-top: 20px;
  box-sizing: border-box;
  height: 100%;
}
#footer .inner a img {
  width: 170px;
  padding-right: 70px
}
#footer .inner .left {
  width: 60%;
  display: flex;
}
#footer .inner .left ul {
  padding-right: 60px;
  box-sizing: border-box;
}
#footer .inner .left ul li {
  color: white;
  line-height: 2;
  font-size: 13px;
  height: 26px;
}
#footer .inner .right {
  width: 40%;
}
#footer .inner .right .amove {
  display: flex;
  gap: 20px;
}
#footer .inner .right ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end
}
#footer .inner .right ul .amove li {
  color: white;
  font-size: 14px;

}
#footer .inner .right ul li.mail {
  color: white;
  padding-bottom: 85px;
}
#footer .inner .right ul li a {
  color: white;
  border-bottom: 1px solid white;
  font-size: 12px;
}